/*stylizes the webpages*/
body {
	background-color: white;
	background-repeat: no-repeat;
	background-size: cover;
}
#title{
	color: white;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}
#post{
	color: white;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}
#one{
	color: white;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}
#submit{
	color: white;
	text-align: center;
}
/*resizes the webpage when on an iPhone 5*/
@media screen and (max-width:320px){
	body{
		background-image: url("images/car.jpg");
		background-size: cover;
	}
	#title{
		width: 100px;
		height: 100px;
	}
	#post{
		width: 100px;
		height: 100px;
	}
	#one{
		width: 100px;
		height: 100px;
	}
}
@media (min-device-width:780px) and (max-device-width:1024px){
	body{
		background-image: url("images/car1.jpg");
		background-size: cover;
	}
	#title{
		width: 200px;
		height: 200px;
	}
	#post{
		width: 200px;
		height: 200px;
	}
	#one{
		width: 500px;
		height: 100px;
	}
}
