/*stylizes the webpages*/
body {
	background-color: pink;
	background-repeat: no-repeat;
	background-size: cover;
}
#body1 {
	background-color: purple;
	background-repeat: no-repeat;
	background-size: cover;
}
#box{
	background-color: white;
	height: 50px;
	width: 300px;
	background-repeat: no-repeat;
}
#snake {
	background-color: lime;
	width: 500px;
}
#head {
	background-color: pink;
	width: 500px;
}
#apple{
	background-color: orange;
	height: 300px;
	width: 400px;
	background-repeat: no-repeat;
}
#one{
	color: yellow;
}
#title{
	color: black;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}
#post{
	color: black;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}
#one{
	color: black;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
}
#submit{
	color: black;
	text-align: center;
}
/*resizes the webpage when on an iPhone 5*/
@media screen and (max-width:320px){
	body{
		background-image: url("images/car.jpg");
		background-size: cover;
	}
	#title{
		width: 100px;
		height: 100px;
	}
	#post{
		width: 100px;
		height: 100px;
	}
	#one{
		width: 100px;
		height: 100px;
	}
}
@media (min-device-width:780px) and (max-device-width:1024px){
	body{
		background-image: url("images/car1.jpg");
		background-size: cover;
	}
	#title{
		width: 200px;
		height: 200px;
	}
	#post{
		width: 200px;
		height: 200px;
	}
	#one{
		width: 500px;
		height: 100px;
	}
}
