/*stylizes the webpages*/
body {
	background-color: aqua;
}
#title{
	color: lime;
	text-align: center;
}
#post{
	color: lime;
	text-align: center;
}
#one{
	color: lime;
	text-align: center;
}
#submit{
	color: lime;
	text-align: center;
}
/*resizes the webpage when on an iPhone 5*/
@media screen and (max-width:320px){
	body{
		background-color: orange;
	}
	#title{
		width: 100px;
		height: 100px;
	}
	#post{
		width: 100px;
		height: 100px;
	}
	#one{
		width: 100px;
		height: 100px;
	}
}
@media (min-device-width:780px) and (max-device-width:1024px){
	body{
		background-color: purple;
	}
	#title{
		width: 200px;
		height: 200px;
	}
	#post{
		width: 200px;
		height: 200px;
	}
	#one{
		width: 500px;
		height: 100px;
	}
}
